{% extends 'main.html' %}
{% block content %}
{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}
<div class="container">
    <div class="card card-body" style="border: 1px solid black; box-shadow: 0 0 10px black;">
        <h2>This is basic Machine Learning and Deep Learning based WebApp.</h2>
        </p>
        <br>
        <h2>Model Accuracies:</h2>
        <ul>
            <li>Kidney Disease Model: <strong>97%</strong></li>
        </ul>
        <br>
        <h3>Information about the Diseases which this webApp can predict.</h3>
        <br>
        <div class="row">
            <div class="col-md-12 card card-body" style="box-shadow: 0 0 5px black; margin: 5px;">
                <h4>Chronic kidney disease</h4>
                <p>Chronic kidney disease describes the gradual loss of kidney
                    function. Your kidneys filter wastes your blood, which are then excreted in
                    your urine. When chronic kidney disease reaches dangerous levels of fluid,
                    wastes can build up in your body.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Nausea</li>
                    <li>Vomiting</li>
                    <li>Fatigue and weakness</li>
                    <li>Muscle twitches and cramps</li>
                    <li>Variation in urine output</li>
                    <li>Headache</li>
                    <li>at late stage swelling of face and limbs</li>
                </ul>
            </div>
        </div>
        <br>


    </div>
</div>
{% endblock %}